@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@450&display=swap');

.in-background {
    background: linear-gradient(360deg, #b6eae1, #D2FBAD);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100%;
    min-height: 100vh;
    margin: 0;

    background-attachment: fixed;

    font-family: 'Quicksand', sans-serif;
}

.in-font-quicksand{
    font-family: 'Quicksand', sans-serif !important;
}

.in-navbar-container {
    position: relative;
    display: flex;
    background: linear-gradient(rgb(230, 230, 230), whitesmoke);
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.15);
    height: max(10vh,60px);
    font-family: 'Quicksand', sans-serif;
    z-index: 1;
}

.in-navbar-left{
    display: flex;
    flex: 1;
    align-items: center;
}

.in-navbar-right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.in-icon{
    height: 2em;
}

.in-navbar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-size: max(1.5vmax,16px);
    cursor: pointer;
}

.in-navbar-item:hover{
    background-color: rgb(0,0,0,0.1);
}

.in-navbar-item:active{
    box-shadow:inset 0 4px 8px 0 rgba(0,0,0,0.2);
}

.in-searchbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:20vw;
}

.in-navbar-searchbar{
    width:100%;
    padding:3px;
    background-color:#ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: gray solid 1px;
}

.in-search{
    padding: 2.4%;
    width: 80%;
    background-color: transparent;
    border: 0;
}
.in-search:focus{
    background-color: transparent;
    border: 0 !important;
    outline: none;
}

.in-footer-login{
    margin: 2em;
}

.in-like-img{
    height: 25px;
    margin-left:25px;
    margin-right:5px;
    margin-bottom: 5px;
    filter: invert(43%) sepia(78%) saturate(259%) hue-rotate(109deg) brightness(91%) contrast(93%);
}

.in-nolike-img{
    height: 25px;
    margin-left:25px;
    margin-right:5px;
    margin-bottom: 5px;
    filter: invert(48%) sepia(4%) saturate(54%) hue-rotate(314deg) brightness(105%) contrast(77%);
}

.in-like-img:hover{
    filter: invert(43%) sepia(78%) saturate(259%) hue-rotate(109deg) brightness(101%) contrast(93%);
    cursor: pointer;
} 

.in-nolike-img:hover{
    filter: invert(48%) sepia(4%) saturate(54%) hue-rotate(314deg) brightness(95%) contrast(77%);
    cursor: pointer;
}

.in-round{
    border-radius: 7%;
}

.in-content-box{
    border-radius: 20px;
    border: rgb(60, 136, 111) solid 2px;
    background: white;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.15);
}

.in-flex-row{
    display: flex;
    flex-direction: row;
}

/******************|
UPLOAD MODAL CSS */

.modal{
    max-width: 5000px !important;
    width: max(30vw,450px) !important;
    background-color: whitesmoke !important;
}

.in-upload-modal{
    width: 100%;
    display: flex !important;
}

.in-flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.in-upload-input{
    margin-left: 10px;
    border-bottom: 1px solid grey;
    background-color: white !important;
    background: none;
}

.in-upload-input:focus{
    outline: 0;
    border: 0;
    border-bottom: 2px solid #a8e5da;
}

.in-upload-files{
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.07);
    padding: 20px;
    margin-top: 10px;
}

.in-upload-submit{
    background: linear-gradient(360deg, #b6eae1, #D2FBAD);
    color: black;
    border: rgb(26, 34, 31) solid 1px;
}

.in-upload-header{
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.07);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}


/*******************|
RECURSOS PAGE CSS */

.in-recursos{
    display: grid;
    grid-template-columns: minmax(150px, 17%) 1fr;
}

.in-recursos-sidebar{
    height: 80vh;
    width: minmax(150px, 17%);
    background: white;
    border-right: rgb(20, 44, 36) solid 1px;
    position: sticky;
    bottom:10vh;
    top: 10vh;
    z-index:0;
    box-shadow: 0px 0px 9px 0 rgba(0, 0, 0, 0.25);
}

.in-recursos-filter{
    width:80%
}

.in-recursos-container{
    padding: 80px;
    padding-bottom:40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.in-recursos-recurso{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 200px;
    height: calc((82vw - 200px - 8rem) / 5);

    border-radius: 20px;
    border: rgb(60, 136, 111) solid 2px;
    background: white;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.15);
}

.in-recursos-recurso:hover{
    background: whitesmoke;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.25);
}

.in-recurso-card{
    display:grid;
    place-items: center;
    padding-bottom: 16px;
}

.in-recurso-delete{
    background: linear-gradient(360deg, #de6262, #ffb88c);
    color: black;
    border: rgb(26, 34, 31) solid 1px;
}

.in-img-card{
    height: 50px;
}

/******************|
RECURSO PAGE CSS */

.in-recurso-page{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.in-recurso{
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 90vw;
    height: 40vh;
    
    margin-top: 3vw;
    padding: 20px;

    border-radius: 20px;
    border: rgb(60, 136, 111) solid 2px;
    background: white;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.15);
}

.in-recurso-image{
    height: 28vh;
    width: 28vh;
    margin: 20px;
    position: relative;
}

.in-recurso-buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 50px;
}

.in-recurso-button{
    margin:10px;
}

.in-loadposts-button{
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.15);
}

.in-new-post{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.in-post-input{
    height:35vh;
    width:40vw;
    margin:20px;
    margin-bottom: 30px;
    resize: none;
}

.in-titulo-input{
    width:25vw;
    margin-top: 30px;
}

/****************|
POSTS PAGE CSS */

.in-posts-center{
    display: grid;
    width: 100vw;
    margin-top:40px;
    padding-bottom:40px;
    row-gap: 40px;
    justify-content: center;
}

.in-posts-post{
    display: grid;
    grid-template-columns: 80% 1fr;
    width: 60vw;
    height: 150px;

    border-radius: 20px;
    border: rgb(60, 136, 111) solid 2px;
    background: white;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.15);

    padding: 10px 30px;
}

.in-posts-post:hover{
    background: whitesmoke;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.25);
}

.in-posts-details{
    display:grid;
    grid-template-rows: 70% 1fr;
}

.in-center-content{
    display: grid;
    place-items:center;
}

/***************|
POST PAGE CSS */

.in-post-page{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.in-post{
    margin-top: 7vh;
    padding: 20px;
    width:70vw;
}

.in-post-image{
    height: 5em;
    margin-bottom: 10px;
    margin-right: 10px;
}

.in-post-content{
    margin-left: 5em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.in-post-footer{
    display: flex;
    align-items: center;
    margin-left: 5em;
}

.in-post-comments{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 50px;
    
    width:70vw;
    padding:30px;
    padding-top:50px;
}

.in-post-comment{
    width: 90%;
    padding:20px;
    background-color: whitesmoke;
    margin-top: 20px;
    border-radius: 5px;
}

.in-comment-text{
    width: 100%;
    height: 13em;
}

.in-comment-input{
    display: flex;
    flex-direction: column;

    width: 90%;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 5px;
}

/******************|
PROFILE PAGE CSS */

.in-profile{
    width:70vw;
    display:grid;
    grid-template-columns: 20% 80%;
    margin-top: 5vh;
    padding: 50px;
}

.in-profile-img{
    width:100%;
}

.in-profile-details{
    width: 100%;
}

.in-edit-bio{
    width: 70vh;
    height: 30vh;
    margin: 20px 0;
}