.w3-container.w3-bar.in-navbar-container
    .in-navbar-left
        a(href="/").in-navbar-item
            .w3-xlarge
                img(src="/images/home.svg", alt="Home", style='height:2em;')
        a(href="/recursos").in-navbar-item
            .w3-xlarge Recursos
        a(href="/recursos/upload").in-navbar-item
            .w3-xlarge Upload
    .in-navbar-right
        a(href="/").in-navbar-item
            .w3-xlarge Perfil
        a(href="/").in-navbar-item
            .w3-xlarge Os meus Recursos