extends layoutin

block content
  include navbar.pug
  ul
    each recpriv in recursosPriv
      a(href=('/recursos/download/' + recpriv._id))
        li= recpriv.titulo
    each recpubl in recursosPublic
      a(href=('/recursos/download/' + recpubl._id))
        li= recpubl.titulo