extends layoutin

block content
  include navbar.pug
  ul
    if recursosPriv.length != 0
      h2 Privados
      each recursosPrivUser in recursosPriv
        each recpriv in recursosPrivUser.recursos
          a(href=('/recursos/download/' + recpriv._id))
            li= recpriv.titulo
    if recursosPublic.length != 0
      h2 Publicos       
      each recpublUser in recursosPublic
        each recpubl in recpublUser.recursos
          a(href=('/recursos/download/' + recpubl._id))
            li= recpubl.titulo