extends layout

block content
  .w3-container.w3-bar.w3-amber
      a(href="/")
        .w3-bar-item.w3-xlarge
          img(src="/images/home.svg", alt="Home", style='width:35px; height:35px;')
      a(href="/recursos")
        .w3-bar-item.w3-xlarge Recursos
      a(href="/upload")
        .w3-bar-item.w3-xlarge Upload
      a(href="/")
        .w3-bar-item.w3-xlarge.w3-right Perfil
      a(href="/")
        .w3-bar-item.w3-xlarge.w3-right Os meus Recursos