extends layout

block content
  div(class="w3-container w3-teal")
    h2 File Upload    
  form(class="w3-container" action="/files" method="POST" enctype="multipart/form-data")
    label(class="w3-text-teal") 
      b Select file
    input(class="w3-input w3-border w3-light-grey" type="file" name="myFile")
    input(class="w3-btn w3-blue-grey" type="submit" value="Submit")

     