#upload.modal
    .in-upload-modal.in-flex-center
        .in-upload-header.w3-margin-bottom
            h2 Upload de Ficheiro
        .in-upload
            form.w3-container(action="/recursos" method="POST" enctype="multipart/form-data").in-flex-center.w3-center
                .div.w3-margin-top(style="display:flex; align-items:center;")
                    label 
                        h4 
                            b Título:
                    input.w3-input.in-upload-input(type="text" name="titulo" autocomplete="off")
                input(class="w3-input" type="file" name="myFile").w3-margin
                div.w3-margin-top
                    label Tipo de Recurso: 
                    select(name="tipo")
                        option(value="") -Select-
                        option(value="slides") Slides
                        option(value="teste") Teste
                div(style="display:flex").w3-margin
                    div.w3-margin-left  
                        label Público 
                        input(type='radio', name='visibilidade', value='PUBLIC')
                    div.w3-margin-left
                        label Privado 
                        input(type='radio', name='visibilidade', value='PRIVATE')
                div.w3-margin           
                    input( type="submit" value="Submit").w3-btn.in-upload-submit
        .in-upload-footer.w3-margin-top
            h5.w3-center Made with 🧠 PRI2020
//-
    div(class="w3-container w3-red")
        h2 File Upload    
    form.w3-container.w3-amber(action="/recursos" method="POST" enctype="multipart/form-data")
        div
            label
                b Tipo de Recurso: 
            select(name="tipo")
                option(value="") -select-
                option(value="slides") Slides
                option(value="teste") Teste
        hr
        div
            label Visibilidade:
                div
                    div  
                        label Público 
                        input(type='radio', name='visibilidade', value='PUBLIC')
                    div
                        label Privado 
                        input(type='radio', name='visibilidade', value='PRIVATE')
        hr
        label Título:
        input.w3-input(type="text" name="titulo")
        input(class="w3-input" type="file" name="myFile")
        input(class="w3-btn w3-blue" type="submit" value="Submit")
        