extends layout

block content
  div(class="w3-container w3-red")
    h2 File Upload    
  form.w3-container.w3-amber(action="/recursos" method="POST" enctype="multipart/form-data")
    div
      label
        b Tipo de Recurso: 
      select(name="tipo")
        option(value="") -select-
        option(value="slides") Slides
        option(value="teste") Teste
    label Título:
    input.w3-input(type="text" name="titulo")
    input(class="w3-input" type="file" name="myFile")
    input(class="w3-btn w3-blue" type="submit" value="Submit")

     