doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/docstyles.css')
    link(rel='stylesheet', href='/stylesheets/instyles.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js')
    script(src="/javascript/loginscript.js")
  body.dt-background
    block content
