extends layout

block content
  .dt-header-login.w3-center
    img.dt-header-logo(src="/images/logorelevo.png") 
    h1.dt-name Resourcefull
    a.dt-reg-link(href="/users/register")
      h4 Não tem Conta? Registar
  .dt-login-container
    .dt-login.dt-round
      form.w3-container.dt-login-form(action='/users/login' method='POST')
        input.w3-input.w3-margin-bottom.dt-input(type="text" name="id" placeholder="Username...")
        input.w3-input.w3-margin-bottom.dt-input(type="password" name="password" placeholder="Password...")
        input.w3-btn.w3-dark-gray.dt-round.w3-margin(type="submit" value="Login")
  .dt-footer-login
    h5.w3-center Made with 🧠 PRI2020