.w3-container.w3-bar.in-navbar-container
    .in-navbar-left
        a(href="/").in-navbar-item
            .w3-xlarge
                img(src="/images/home.svg", alt="Home", style='height:2em;')
        a(href="/recursos").in-navbar-item Recursos
        a(href="#upload" rel="modal:open").in-navbar-item Upload
    .in-navbar-right

        a(href="/users/perfil").in-navbar-item Perfil
        a(href="/").in-navbar-item Os meus Recursos
        a(href="/users/logout").in-navbar-item
            .w3-xlarge
                img(src="/images/logout.svg", alt="Logout", style='height:2em;')
include upload.pug

