extends layoutin

block content
  include navbar.pug
  ul
    if recursosPriv.length != 0
      h2 Privados
      each recpriv in recursosPriv
        a(href=('/recursos/download/' + recpriv._id))
          li= recpriv.titulo
    if recursosPublic.length != 0
      h2 Publicos       
      each recpubl in recursosPublic
        a(href=('/recursos/download/' + recpubl._id))
          li= recpubl.titulo